@font-face {
  font-family: 'Mirage Bold';
  src: url('../../static/fonts/mirage/MADE\ Mirage\ Bold\ PERSONAL\ USE.otf') format('otf');
  
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Mirage Medium';
  src: url('../../static/fonts/mirage/MADE Mirage Medium PERSONAL USE.otf') format('otf');
  
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Mirage Regular';
  src: url('../../static/fonts/mirage/MADE Mirage Regular PERSONAL USE.otf') format('otf');
  
  font-weight: normal;
  font-style: normal;
}

:root {
    --white: #FFFFFF;
    --black: #000000;
    --greenButton: #026C5B;
    --buttonHover: #C8B589;
    --greenText: #949769;
    --blueTittle: #005548;
    --greenButtonBackground: #0d3c35;
    --greenStrongText: #092e29;
    --greenBackground: #91a27e;
}

body {
  font-family: 'Mirage Medium';
  background-color: #F5EADF;
  color: var(--white);
}
  